// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//editor body styles
@import 'editorBody';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Package
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~bootstrap-sweetalert/dist/sweetalert.css";
@import "~bootstrap-fileinput/scss/fileinput";
@import "~bootstrap-fileinput/scss/fileinput-rtl";
@import "~font-awesome/scss/font-awesome";

.container{
    max-width: 1400px;
}

//custom tools
.codex-editor{
    display: flex;
    justify-content: space-between;
    .columns{
        &>div{
            min-height: 1.6em;
            min-width: 50%;
        }
        
    }
    &__redactor{
        width: 100%;
    }
}

//two cols images
.image-tool{
    &--twocols{
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
    }

    &--quote{
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
        .image-tool__quotewrapper{
            padding-left: 15px;
            padding-right: 15px;
            min-width: 40%;
        }
        .image-tool__captionQuote{
            padding-left: 15px;
            padding-right: 15px;
            min-width: 50%;
        }
    }

    &__columnleft{
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        transition: width 0.2s;
        &--filled{
            .cdx-button{
                display: none;
            }
            .image-tool__image-preloader {
                display: none;
            }
        }
        &--empty {
            .image-tool__image {
                display: none;
            }
            .image-tool__caption {
                display: none;
            }
            .image-tool__image-preloader{
                display:none;
            }
        }
        &--loading {
            .image-tool__caption {
                display: none;
            }
            .image-tool__image {
                min-height: 200px;
                display: flex;
                border: 1px solid var(--border-color);
                background-color: #fff;

                &-picture {
                    display: none;
                }
            }
            .cdx-button{
                display:none;
            }
        }
    }
    &__columnright{
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        transition: width 0.2s;
        &--filled{
            .cdx-button{
                display:none;
            }
            .image-tool__image-preloader {
                display: none;
            }
        }
        &--empty {
            .image-tool__image {
                display: none;
            }
            .image-tool__caption {
                display: none;
            }
            .image-tool__image-preloader{
                display:none;
            }
        }
        &--loading {
            .image-tool__caption {
                display: none;
            }
            .image-tool__image {
                min-height: 200px;
                display: flex;
                border: 1px solid var(--border-color);
                background-color: #fff;

                &-picture {
                    display: none;
                }
            }
            .cdx-button{
                display:none;
            }
        }
    }

    &--alternate{
        .image-tool__columnleft{
            width: 40%;
        }
        .image-tool__columnright{
            width: 60%;
        }
    }
}